body {
    background-color: #8e6aa1; 
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin: 60px auto 0 auto;
    width: 500px;
    height: 80px;
    font-weight: 800;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#container {
    border: 2px solid black;
    width: 500px;
    height: 70vh;
    margin: 60px auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sketch-container {
    border: 2px solid flex;
    margin: 10px auto 0 auto;
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.sketch {
    border: 0px solid black;
    margin: 0;
    background-color: #fff;
    width: 27px;
    height: 24px;
}

.sketched {
    border: 0px solid black;
    margin: 0;
    background-color: #030303;
    width: 27px;
    height: 24px;
}

#reset {
    border: 2px solid #fff;
    color: #db462c;
    font-weight: 600;
    width: 20%;
    height: 3%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    text-align: center;
}

#reset:hover {
    background-color: #db462c;
    color: #fff;
}
